USE [XX]
GO
/****** Object:  Table [dbo].[XX_User]    Script Date: 2020/9/18 19:08:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XX_User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[randCode] [nvarchar](50) NOT NULL,
	[guid] [nvarchar](50) NOT NULL,
	[userRole] [int] NOT NULL,
	[avatarPath] [nvarchar](200) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[isVip] [int] NULL,
	[vipGrade] [int] NULL,
	[intergral] [int] NULL,
	[createTime] [datetime] NULL,
	[lastLoginTime] [datetime] NULL,
	[isFreeze] [int] NULL,
	[isActivation] [int] NULL,
 CONSTRAINT [PK_XX_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[XX_User] ON 

INSERT [dbo].[XX_User] ([id], [userName], [passWord], [randCode], [guid], [userRole], [avatarPath], [name], [email], [phone], [isVip], [vipGrade], [intergral], [createTime], [lastLoginTime], [isFreeze], [isActivation]) VALUES (1, N'test110', N'123456', N'123456', N'ffff', 1, N'test\test', N'夜深人及其能够', N'456@qq.com', N'', 1, 9, 10, CAST(0x0000ABF00000F95A AS DateTime), CAST(0x0000ABF00000F95A AS DateTime), 1, 0)
INSERT [dbo].[XX_User] ([id], [userName], [passWord], [randCode], [guid], [userRole], [avatarPath], [name], [email], [phone], [isVip], [vipGrade], [intergral], [createTime], [lastLoginTime], [isFreeze], [isActivation]) VALUES (3, N'test130', N'EC78D603D900EA90062C568746F402BD', N'sxFGuTakl3qxGRMn3v', N'1ED4E11174DA4958ABB24AD2A3D6560A', 2, N'Avatar_03.png', N'潇洒亼生', NULL, NULL, 0, 1, 0, CAST(0x0000ABF50005E6B4 AS DateTime), CAST(0x0000ABF50005E6B4 AS DateTime), 0, 1)
INSERT [dbo].[XX_User] ([id], [userName], [passWord], [randCode], [guid], [userRole], [avatarPath], [name], [email], [phone], [isVip], [vipGrade], [intergral], [createTime], [lastLoginTime], [isFreeze], [isActivation]) VALUES (4, N'test140', N'B254FB8B76445AF530A1AE411C4780B9', N'krriv3YFPO5DFURymn', N'CA66E48097BC47C89081D3E5D3FEDBFF', 2, N'Avatar_04.png', N'倒影年华', NULL, NULL, 0, 1, 0, CAST(0x0000ABF5000604DC AS DateTime), CAST(0x0000ABF5000604DC AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[XX_User] OFF
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_isVip]  DEFAULT ((1)) FOR [isVip]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_vipGrade]  DEFAULT ((0)) FOR [vipGrade]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_intergral]  DEFAULT ((0)) FOR [intergral]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_createTime]  DEFAULT (getdate()) FOR [createTime]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_lastLoginTime]  DEFAULT (getdate()) FOR [lastLoginTime]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_isFreeze]  DEFAULT ((1)) FOR [isFreeze]
GO
ALTER TABLE [dbo].[XX_User] ADD  CONSTRAINT [DF_XX_User_isActivation]  DEFAULT ((0)) FOR [isActivation]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'userName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'passWord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'随机码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'randCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'guid唯一编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'guid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色类型:1:普通用户2:....8:管理员.9:超级管理员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'userRole'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户头像路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'avatarPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否Vip 0:否1:是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'isVip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员等级——1:1级会员2:2级会员......' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'vipGrade'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'intergral'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'createTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'lastLoginTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否冻结 0:否，1:是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'isFreeze'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否激活：0否1：是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XX_User', @level2type=N'COLUMN',@level2name=N'isActivation'
GO
